@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"),
    url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Bold"), local("PT Sans-Bold"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans Narrow Bold"), local("PT Sans Narrow-Bold"),
    url("../fonts/PTSans-Narrow-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Narrow-Bold.woff") format("woff");
}
