$tablet-width: 768px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "PT Sans", "Arial", sans-serif;
$heading-font: "PT Sans Narrow", "Arial", sans-serif;

$black: #333333;
$white: #ffffff;
$gray: #d9d9d9;
$light-gray: #f4f4f4;
$dark-gray: #cccccc;
$blue: #00aae7;
$red: #e75125;

$heading-color: $red;
$caption-color: $blue;
$text-color: $black;

$base-heading-size: 45px;
$base-heading-height: 38px;
$base-caption-size: 24px;
$base-caption-height: 26px;
$base-text-size: 17px;
$base-text-height: 20px;

$regular-weight: 400;
$bold-weight: 700;

@mixin fontStyle($size, $height) {
  font-size: $size;
  line-height: $height;
}
