$tablet-width: 768px;
$desktop-width: 1024px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$main-font: "PT Sans", "Arial", sans-serif;
$heading-font: "PT Sans Narrow", "Arial", sans-serif;

$content-width: 980px;
$block-indent: 100px;
$text-indent: 19px;

$black: #333333;
$white: #ffffff;
$gray: #d9d9d9;
$light-gray: #f4f4f4;
$dark-gray: #cccccc;
$dark-blue: #1073b7;
$blue: #00aae7;
$red: #e75125;

$bg-page-color: $white;
$bg-main-color: $light-gray;
$bg-secondary-color: $blue;

$banner-text-color: $white;
$heading-color: $red;
$caption-color: $blue;
$text-color: $black;
$text-light-color: $white;

$mark-color: #ed1700;
$vk-color: #46719f;
$fb-color: #3a589a;
$ok-color: #ed721f;
$moimir-color: #008be5;

$shadow-color: rgba(#000000, 0.3);

$button-color: $red;
$button-border-radius: 30px;

$input-border-radius: 3px;

$base-heading-size: 45px;
$base-heading-height: 30px;
$base-caption-size: 24px;
$base-caption-height: 26px;
$base-text-size: 17px;
$base-text-height: 20px;

$regular-weight: 400;
$bold-weight: 700;

@mixin fontStyle($size, $height) {
  font-size: $size;
  line-height: $height;
}
