.about {
  padding: $block-indent 0;
  background-color: $bg-main-color;
}

.about__picture {
  min-width: 460px;
  margin-right: 40px;
}

.about__block {
  position: relative;
  padding-bottom: 28px;
}

.about__share-list {
  position: absolute;
  display: flex;
  left: 0;
  bottom: 0;
  height: 24px;
}

.about__share-item {
  display: flex;
  margin-right: 4px;
  border-radius: 2px;

  &--mark {
    background-color: $mark-color;
  }
  &--vkontakte {
    background-color: $vk-color;
  }
  &--facebook {
    background-color: $fb-color;
  }
  &--odnoklassniki {
    background-color: $ok-color;
  }
  &--moimir {
    background-color: $moimir-color;
  }

  &--last-child {
    margin-right: 0;
  }
}

.about__share-button {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;

  &--mark {
    background-image: url("../img/pic-mark.svg");
    background-size: 10px 12px;
  }
  &--vkontakte {
    background-image: url("../img/logo-vk.svg");
    background-size: 16px 10px;
  }
  &--facebook {
    background-image: url("../img/logo-fb.svg");
    background-size: 9px 16px;
  }
  &--odnoklassniki {
    background-image: url("../img/logo-ok.svg");
    background-size: 9px 16px;
  }
  &--moimir {
    background-image: url("../img/logo-moimir.svg");
    background-size: 16px 11px;
  }
}

.about__share-count {
  position: relative;
  display: block;
  padding: 0 7.5px;
  color: $text-light-color;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;

  &::before {
    position: absolute;
    display: block;
    content: "";
    top: 50%;
    left: 0;
    width: 1px;
    height: 20px;
    transform: translateY(-50%);
    background-color: $white;
    opacity: 0.2;
  }
}
