.schedule {
  padding: $block-indent 0;
}

.schedule__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: $heading-font;
  color: $heading-color;
  @include fontStyle($base-heading-size, $base-heading-height);
  font-weight: $bold-weight;
  text-align: center;
}

.schedule__list {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}

.schedule__item {
  width: 460px;

  &--youth {
    padding-left: 40px;
  }
}

.schedule__caption {
  margin: 0;
  margin-bottom: 37px;
  color: $caption-color;
  @include fontStyle($base-caption-size, $base-caption-height);
  font-weight: $bold-weight;
}

.schedule__time-list {
  padding-left: 39px;
}

.schedule__time-item {
  position: relative;
  margin-bottom: 25px;
  @include fontStyle(20px, 24px);

  &:last-child {
    margin: 0;
  }
  &:last-child::after {
    display: none;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    top: 3px;
    left: -39px;
    border: 4px solid $caption-color;
    border-radius: 50%;
  }
  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 4px;
    height: 50px;
    top: 24px;
    left: -31px;
    background-color: $dark-gray;
  }
}

.schedule__time {
  display: block;
  font-weight: $bold-weight;
}
